{% load static from staticfiles %}

<div id="info-modal" class="modal">
	<div class="modal-content">
		<img 
			class="close pointer" 
			src="{% static 'images/close.svg' %}" 
			onclick="closeModal('info-modal')"
			alt="">
		<p>{{ current_episode.number }}- {{current_episode.title}}</p>
		<p>{{ current_episode.info|safe }}</p>

		<div id="info-modal-content-footer">
			<p>------------</p>
			<p>
				Share this podcast on:<br>
				<a href="https://www.facebook.com/sharer/sharer.php?u=https://introtorhythm.com/{{ current_episode.number }}">facebook</a> / <a href="https://twitter.com/home?status=https://introtorhythm.com/{{ current_episode.number }}">twitter</a>
			</p>
			<p><a href="mailto:info@introtorhythm.com">info@introtorhythm.com</a></p>
		</div>
	</div>
</div>