{% load static from staticfiles %}

<div id="live-modal" class="modal">
	<div id="live-modal-content" class="modal-content">
		<img class="close pointer" src="{% static 'images/close.svg' %}" onclick="closeStreamModal()" alt="">
		<p><u>ITR Live Stream</u></p>
		<p>
			Program: <span id="stream-program"></span><br/>
			Currently Playing: <span id="stream-current"></span>
		</p>
		<audio id="live-stream-audio" src="https://live.introtorhythm.com:8443/stream" controls></audio>
		<p>
			<a href="https://live.introtorhythm.com:8443/stream" target="_blank">Open stream in new window</a><br/>
			<a href="https://live.introtorhythm.com:8443/stream.m3u">Download m3u</a>
		</p>
	</div>
</div>