<div class="nav">

	{% include "episodes/partials/play_button.html" %}

	<ul class="nav-items">
		<li class="nav-item"><a href="{% url 'index' %}">Intro To Rhythm</a><li>
		<li id="status"></li>
		<li>------</li>
		<li>Now Playing: Ep {{ current_episode.number }}</li>
		<li id="tracktime">00:00:00 / 00:00:00</li>
		<li>
			<span 
				class="see-info pointer"
				onclick="openModal('info-modal')">
				See Ep {{ current_episode.number }} Info &lt;
			</span>
		</li>
		<li>------</li>
		{% for episode in recent_episodes %}
			{% if current_episode == episode %}
				<li class="nav-item selected-episode"><a href="{% url 'episode' primary_key=episode.number %}">{{ episode.number }}- {{ episode.title }}</a></li>
			{% else %}
				<li class="nav-item"><a href="{% url 'episode' primary_key=episode.number %}">{{ episode.number }}- {{ episode.title }}</a></li>
			{% endif %}
		{% endfor %}
		<li>------</li>
		<li>
			<span 
				class="pointer"
				onclick="openModal('about-modal')">About ITR
			</span>
		</li>
		<li>
			<span 
				class="pointer"
				onclick="openModal('archive-modal')">Archive 001 - {{ higest_episode_number }}
			</span>
		</li>
		<li>
			{% include "episodes/partials/subscription_form.html" %}
		</li>
	</ul>
</div>