* {
	font-family: 'Droid Sans Mono';
	color: #222;
	box-sizing: border-box;
}

ul, li {
	list-style: none;
	padding: 0;
}

.nav {
	width: 320px;
	max-width: 100%;
	border-right: solid 1px #222;
	height: 100%;
	position: fixed;
	left: 0;
	top:0;
	background: rgba(255, 255, 255, 0.8);
	padding: 1em 1em;
	z-index: 3;
	overflow-y: scroll;
}

.nav .nav-items {
	margin-bottom: 4em;
}

.nav .nav-items li {
	margin: 0.5em 0;
}


.nav .nav-items li.nav-item a {
	text-decoration: none;
	color: inherit;
}

.see-info,
.selected-episode {
	color: red;
}

.main-background {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 1;
	background-position: center;
	background-size: cover;
	-webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
	filter: grayscale(100%);
}

.brighten-overlay {
	width: 100%;
	height: 100%;
	position: fixed;
	left: 0px;
	top: 0px;
	background-color: rgba(255, 255, 255, 0.2);
	background-size: cover;
	background-position: center;
	margin: 0;
	padding: 0;
	z-index: 2;
}

.modal {
	width: 100%;
	height: 100%;
	position: fixed;
	top: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	z-index: 8;
	display: none;
	overflow-y: scroll;
}

.modal .modal-content {
	width: 96%;
	max-width: 900px;
	display: block;
	margin: 4em auto 8em auto;
	border: solid 1px white;
	padding: 2em;
	background: rgba(0, 0, 0, 0.5);
}

#archive-modal .modal-content {
	border: none;
	padding: 0;
	background: none;
}

.modal .modal-content p img {
	width: 100%;
}

.modal .modal-content p,
.modal .modal-content a,
.modal .modal-content em,
.modal .modal-content u {
	color: white !important;
 }

.pointer {
	cursor: pointer;
}

.close {
	height: 1.5em;
}

#player {
	position: fixed;
	bottom: 0;
	left: 0;
	height: 3em;
	width: 100%;
	background-color: rgba(255, 255, 255, 1);
	z-index: 7;
}

#audioplayer {
	width: 100%;
	height: 3em;
}

#timeline {
	width: 100%;
	height: 3em;
	border-top: solid 1px black;
	background: rgba(255,255,255,1);
}

#playhead {
	width: 10px;
	height: 3em;
	background: rgba(0, 0, 0, 1);
	cursor: ew-resize;
}

#play-button-container {
	width: 200px;
	text-align: center;
	height: 200px;
	position: fixed;
	top:0;
	bottom: 0;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 1;
}

#play-button {
	height:200px;
	width: 200px;
	border: none;
	background-size: 50% 50%;
	background-repeat: no-repeat;
	background-position: center;
	outline:none;
	cursor: pointer;
}

.play { 
	background: url('/assets/images/play.png');
}

.pause {
	 background: url('/assets/images/pause.png');
}

.archive-episode {
	padding: 0 0.5em;
	width: 33.33%;
	float: left;
	position: relative;
	margin-bottom:1em;
	vertical-align: top;
	transition: all 0.25s;
}

.aspect-ratio {
	padding-top: 100%;
	width: 100%;
	position: relative;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	margin-bottom: 6px;
}

.aspect-ratio:hover .hover-info {
	opacity: 1;
}

.hover-info {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: all 0.25s;
	opacity: 0;
}

.hover-content {
	list-style: none;
	padding: 0;
	margin: 0;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	text-align: center;
}

.hover-content li {
	padding: 4px;
	margin: 4px;
	cursor: pointer;
	font-size: 14px;
	color: white !important;
}

.hover-content li a {
	text-decoration: none;
}

#subscription-form input {
	font-size: 1em;
}

#subscription-form input[type='submit'] {
	border: solid 1px #222;
	background: white;
	border-radius: 0;
}

/* ------------------------- Media Queries */
/* ------------------------- Media Queries */
/* ------------------------- Media Queries */

@media (max-width: 750px) {
	.nav .nav-items {
		margin-top: 200px;
	}

	#play-button-container {
		position: absolute;
		bottom: unset;
	}

	.archive-episode {
		width: 50%;
	}

	.hover-info {
		opacity: 1;
	}

	.modal .modal-content {
		font-size: 0.8em;
	}
}

@media (max-width: 500px) {
	.nav {
		width: 100%;
	}
}