{% load static from staticfiles %}
{% load static from staticfiles %}

<!doctype html>
<html>
	<title>Intro To Rhythm | {% block title %}{% endblock %}</title>
	<head>
		<link href='https://fonts.googleapis.com/css?family=Droid+Sans+Mono' rel='stylesheet' type='text/css'>
		<link rel="stylesheet" href="{% static 'css/styles.css' %}">
		<link rel="icon" href="{% static 'images/favicon.png' %}">
		<!-- <link rel="icon" href="{% static 'images/eyes.png' %}"> -->
	</head>
	<body>
		<div class="site-container">
			<div class="content">
				{% block content %}{% endblock %}
			</div>
		</div>
	</body>
	<script src="{% static 'js/app.js' %}"></script>
</html>